.main-title {
  text-align: center;
  width: 80%;
  max-width: 796px;
  margin: 20px auto;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 4px;
}

/* .card {
  width: '100%';
}

.button-group {
  display: 'flex' !important;
  justify-content: 'flex-end' !important;
}

.btn-group button {
  border: 'none' !important;
  background: '#fff' !important;
  padding: '0' !important;
} */
